* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}



body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;

  display: grid;
  place-items: center;
  height: 100vh;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #34355b;
}

/* Primeira tela */

.screen1 {
  width: 42.8rem;
  height: 42.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}

.screen1 h1 {
  width: 26rem;
  font-size: 2.4rem;
  line-height: 2.9rem;
  padding: 4.8rem 0 1.4rem;

  text-align: center;
}

.screen1 p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;

  color: #34355b;
  font-size: 1.5rem;
  line-height: 2rem;

  padding-bottom: 2rem;
}
img {
  height: 20rem;
  width: 30rem;
}
.screen1 button {
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.screen1 button:hover {
  animation: shakingcookie 0.12s infinite;
}

/* Segunda tela */

.screen2 {
  width: 42.8rem;
  height: 56.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;

  background: #ffffff;
  box-shadow: 0px 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}

.screen2 h2 {
  width: 29.7rem;
  font-size: 2.4rem;
  line-height: 2.9rem;

  text-align: center;
  padding-top: 4.8rem;
}

.cookieMessage {
  width: 27rem;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #000000;
  padding: 1rem;

  background: #e4edf1;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(85, 85, 85, 0.5);

  animation: downtotop 2250ms;
}

.screen2 button {
  width: 17.4rem;
  height: 5.2rem;

  background: #ff9500;
  border-radius: 0.4rem;
  border: none;

  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  cursor: pointer;
  
}

.screen2 button:hover {
  background-color: #ea951f;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes downtotop {
  0% {
    opacity: 0.5%;
    transform: scale(00%) translateY(0);
  }

  30% {
    opacity: 0.5%;
    transform: scale(35%) translateY(50rem);
  }
  100% {
    opacity: 1;
    transform: scale(100%) translateY(0);
  }
}

@keyframes shakingcookie {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(2deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-2px, 2px) rotate(-2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.hide {
  display: none;
}